<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Projects</title>

    <!-- This is the google font lato -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

    <!-- Bootstrap Cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">



    <!-- This is our own style sheet, we are adding it after bootstrap so that
    it has highest precedence compared to bootstrap, remember
    in css, the one comes late has more precedence -->

    <link rel="stylesheet" href="https://dl.dropbox.com/s/7gpw4bk9zuj8mta/app.css?dl=0">

    <!-- Fontawesome cdn -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

  </head>

  <body>
    <!-- The navbar -->
    <nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- This active class will make the home appear highlighted or active -->

      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- end of navbar -->


  <div class="row">

    <div class="col-md-6 ">
      <img src="https://lh3.googleusercontent.com/-UHVnhjZCxNwzGOGgEJNeQZfUksG6VacE7K6_Xm9pkd63qBu9JaJFQjITkyIQk-gqjDrS6hpQYcvZbiUs_Uhhh0Yq8ZoYNg8R-L7-fb2-3xr5JDSwH2IQYHogy5ka_HZ55fU0S2v1w=w2400" alt=""
      class="img-responsive">
      <a href="http://shafirplprojects.com/yelpcamp" target="_blank">  <button type="button" name="button" class="btn btn-lg">Visit YelpCamp</button></a>

    </div>

    <div class="col-md-6 ">
      <img src="https://lh3.googleusercontent.com/QIbdnKymkExzzK23ngJETYrAISlt89BJooTijyWr7mMWRs6MpNkkB4_e10LAkaIN2LqHFXBUFZx0hOcWsXQyolgsLPdxPEjMemfOKi_lzYtiyAN7TmGf1suyAI519NyrFXnCiTmJww=w2400" alt=""
      class="img-responsive">
      <a href="http://shafirplprojects.com/newsportal" target="_blank">  <button type="button" name="button" class="btn btn-lg">Visit NewsPortal</button></a>

    </div>

  </div>




  <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  </script>
  </body>
  </html>
